<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Radio Box</title>
    <link href="app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" ng-app="default-app" ng-controller="radio-controller">
        <div class="row row-header">
            <div class="col-xs-9 text-left">
                <h2>{{state.title}}</h2>
            </div>
            <div class="col-xs-3 text-right">
                <label class="power-switch switch">
                    <input type="checkbox" ng-checked="state.power" ng-model="state.power" ng-change="togglePower()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row row-band">
            <div class="col-xs-2 text-right div-band" ng-model="state.band" ng-click="toggleBand()">
                {{state.station.band}}
            </div>
            <div class="col-xs-8 text-center div-freq">
                {{state.station.freq}}
            </div>
            <div class="col-xs-2 text-left div-unit">
                {{state.station.unit}}
            </div>
        </div>
        <div class="row row-title">
            <div class="col-xs-12 text-center">
                {{state.station.title}}
            </div>
        </div>
        <div class="row row-rds">
            <div class="col-xs-12 text-center">
                {{state.station.rds}}
            </div>
        </div>
        <div class="row row-arrows">
            <div class="col-xs-2 text-right" ng-click="moveStation(-1)">
                <i class="glyphicon glyphicon-step-backward"></i>
            </div>
            <div class="col-xs-2 text-right" ng-click="moveStep(-1)">
                <i class="glyphicon glyphicon-menu-left"></i>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2 text-left" ng-click="moveStep(1)">
                <i class="glyphicon glyphicon-menu-right"></i>
            </div>
            <div class="col-xs-2 text-left" ng-click="moveStation(1)">
                <i class="glyphicon glyphicon-step-forward"></i>
            </div>
        </div>
        <div class="row row-switches">
            <div class="col-xs-3 text-center">
                <label class="stereo-switch switch">
                    <input type="checkbox" ng-checked="state.stereo" ng-model="state.stereo" ng-click="toggleStereo()">
                    <span class="slider round"></span>
                </label>
                Stereo
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-3 text-center">
                <label class="bass-switch switch">
                    <input type="checkbox" ng-checked="state.bassBoost" ng-model="state.bassBoost" ng-click="toggleBass()"> 
                    <span class="slider round"></span>
                </label>
                Bass&nbsp;Boost
            </div>
        </div>
        <div class="row row-volume">
            <div class="col-xs-1 text-right">
                <i class="glyphicon glyphicon-volume-off" ng-hide="state.volume != 0" ng-cloak></i>
                <i class="glyphicon glyphicon-volume-down" ng-hide="state.volume == 0" ng-cloak></i>
            </div>
            <div class="col-xs-10 text-center">
                <div class="range-slider volume-slider">
                    <input class="range-slider__range" type="range" ng-model="state.volume" ng-value="state.volume" min="0" max="10" ng-change="changeVolume()">
                </div>
            </div>
            <div class="col-xs-1 text-left">
                <i class="glyphicon glyphicon-volume-up"></i>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>

    </body>
</html>
